/* .metal {
    color: red;
}
.non-metal {
    color: blue;
}
.semi-metal {
    color: purple;
} */


#pr{
color: blue;
}

.back{
    color: red;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
  }